h1{
	text-align: center;
}

h2{
	text-decoration: underline;
	text-align: center;
}

h3{
	text-align: center;
}

.personals{
	padding: 40px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
	border-radius: .75em;
	width: 90%;
	height: 400px;
	margin-left: 5%;
	margin-bottom: 7.5%;
	display: block;
	box-sizing: border-box;
	margin-top: 15%;
}

.education{
	padding: 40px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
	border-radius: .75em;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 7.5%;
	display: block;
	box-sizing: border-box;
	margin-top: 15%;
}	

.experience{
	padding: 40px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
	border-radius: .75em;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 7.5%;
	display: block;
	box-sizing: border-box;
	margin-top: 15%;
}

.techskills{
	padding: 40px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
	border-radius: .75em;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 7.5%;
	display: block;
	box-sizing: border-box;
	margin-top: 15%;
}

.projects{
	padding: 40px;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	background-color: #ffffff;
	border-radius: .75em;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 7.5%;
	display: block;
	box-sizing: border-box;
	margin-top: 15%;
}

.eduh{
	text-decoration: underline;
	margin: 0px;
	padding: 10px;
}

[class*="col-"] {
  width: 100%;
}

h1.pers {
	margin-top: 70px;
}

html, body {
	width: 100%;
	height:100%;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000% 1000%;
	animation: gradient 15s ease infinite;
	font-family: montserrat;
}

iframe {
	padding: 30px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.site-footer {
	background-color: white;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
	position: relative;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
}

@media(max-width: 420px){
	div{
		font-size: 10px;
	}

	iframe{
		width: 250px;
	}
	h3.pers{
		font-size: 15px;
	}
	.personals{
		margin-top: 20%;
		padding: 20px;
	}
	.experience{
		padding: 20px;
	}
	.education{
		padding: 20px;
	}
	.techskills{
		padding: 20px;
	}


}
